// COLOR
$color-primary:rgba(0,0,0,.6);
$color-white:#ffffff;
$color-secondary:#ffab1e;
$color-red:#f04656;
$color-bg:#f7f7f7;
$color-blue:#1672c6;
$color-light:rgba(0,0,0,.8);
$color-green:#008975;
// font-family
$sans:'Open Sans', sans-serif;
$oxygen:'Oxygen Mono', monospace;
$helvetica:'Helvetica Neue', Arial, Helvetica, sans-serif;
//media query
$desktop-middle:1580px;
$desktop:1200px;
$tab-land:1024px;
$tab-large:768px 991px;
$tab-between:991px;
$tab:768px;
$tab-port:767px;
$mobile-large:576px;
$mobile-middle:480px;
$mobile-small:375px;

